*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family:'Times New Roman', Times, serif;
}
body{
    background: rgba(246,5,5,1);
}
.header{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 15px;
    z-index: 100;
    position: sticky;
    top: 0;
}
.tresBarras{
    margin-left: 5px;
    width: 15%;
    cursor: pointer;
    max-width: 65px;
    background: rgba(246,5,5,1);
    border-radius: 50%;
    z-index: 50;
    box-shadow: 5px 5px 5px #0008;
}

.padre-logo{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.logo{
    width: 70%;
    max-width: 400px;
    border-radius: 50%;
}
.nombre-Logo{
    color: #fff;
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.opcionTemas{
    width: 50%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 3px;
    background: transparent;
    transform: translateY(-600px);
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.opcionTemas p{
    width: auto;
    font-size: 1.8rem;
    padding: 15px;
    color: #fff;
    box-shadow: 10px 5px 5px #0009;
    border-radius: 5px;
    background: #000;
    color:rgba(246,5,5,1);
    margin-right: 10px;
    margin-top: 5px;
}
.opcionTemas p:hover{
    cursor: pointer;
    color: #fff;
}
.opcionTemas a{
    text-decoration: none;
}





.mensajeUno{
    font-size: 1.8rem;
    width: 90%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: #fff;
    box-shadow: 5px 5px 15px #000;
    padding: 10px;
    border-radius: 5px;
    background: rgb(217,91,19);
    background: linear-gradient(0deg, rgba(217,91,19,1) 31%, rgba(246,5,5,1) 85%);
    overflow-y: scroll;
    font-style: italic;
    margin-bottom: 100px;
}
.apartado-mensajeUno{
    border-top: 1px solid #fff;
}
.mensajeUno p{
    margin-top: 10px;
}




.btnUno, .btnDos, .btnTres{
    font-size: 1.5rem;
    color: #fff;
    width:max-content;
    padding: 8px;
    box-shadow: 5px 5px 8px #000;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #fff;
}
.btnDos, .btnUno{
    display: none;
}
.btnUno:hover, .btnDos:hover{
    background: #fff5;
}





.padre-narraciones-SectionTres, 
.padre-narraciones-SectionDos, 
.padre-narraciones-SectionUno,
.padre-narraciones-SectionCuatro{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin-bottom: 15px;
}
.padre-narraciones-SectionUno, 
.padre-narraciones-SectionDos,
.padre-narraciones-SectionTres{
    display: none;
}


.img-narraciones{
    width: 100%;
    max-width: 280px;
    padding: 3px;
    border-radius: 3px;
}
.img-narraciones:hover{
    background: #fff;
    cursor: pointer;
}







@keyframes desplazarOpcionesAutoresA{
    0%{
        transform: translateY(-600px);
    }
    100%{
        transform: translateY(80%);
       
    }
}
@keyframes desplazarOpcionesAutoresB{
    0%{
        transform: translateY(80%);
    }
    100%{
        transform: translateY(-600px);
    }
}





