.header{
    justify-content:left;
}

.padreOpciones{
    padding-left: 65px;
}


.sectionVideos{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.hijos-sectionVideos{
    height: 380px;
}